{% extends 'base.html.twig' %}

{% block title %}New Consumable{% endblock %}

{% block body %}
    <h1>Create new Consumable</h1>

    {{ include('consumable/_form.html.twig') }}

    <a href="{{ path('app_consumable_index') }}">back to list</a>
{% endblock %}
