{% extends 'base.html.twig' %}

{% block title %}New Assignment{% endblock %}

{% block body %}
    <h1>Create new Assignment</h1>

    {{ include('assignment/_form.html.twig') }}

    <a href="{{ path('app_assignment_index') }}">back to list</a>
{% endblock %}
